# Created by http://www.gitignore.io

### PlayFramework ###
# Ignore Play! working directory #
bin/
/db
.eclipse
/.idea/
/.idea_modules/
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
RUNNING_PID